<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<typeAliases>
		<!-- Article 관련 -->
		<typeAlias type="jsh.project.boardReply.board.model.domain.Article" alias="Article" />
		<typeAlias type="jsh.project.boardReply.board.model.dto.response.ResponseArticleDto" alias="ResponseArticleDto" />
		
		<!-- Reply 관련 -->
		<typeAlias type="jsh.project.boardReply.reply.model.domain.Reply" alias="Reply" />

	</typeAliases>

	<!-- mapper의 위치를 잡아준다. -->
	<mappers>
		<!-- 게시판 관련 -->
		<mapper resource="/sqls/board/boardMapper.xml" />
		<mapper resource="/sqls/board/articleMapper.xml" />
		<mapper resource="/sqls/board/replyMapper.xml" />
	</mappers>

</configuration>