<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">	

	<select id="selectTotalCount" resultType="int">
		SELECT
			count(id)
		FROM
			board_table
	</select>
	
	<select id="selectArticles" parameterType="map" resultType="ResponseArticleDto">
	<![CDATA[
		SELECT 
			b.id,
			b.title,
			b.replyCount,
			b.regdate
		FROM
			(SELECT 
				rownum AS rnum,
				a.id,
				a.title,
				a.replyCount,
				a.regdate
			FROM 
				(SELECT 
					board_table.id,
					board_table.title,
					count(board_reply_table.id) AS replyCount,
					board_table.regdate
				FROM 
					board_table LEFT JOIN board_reply_table ON board_table.id = board_reply_table.article_id
				GROUP BY board_table.id, board_table.title, board_table.regdate
				ORDER BY board_table.regdate
				)a
			WHERE rownum <= #{endCount}
			)b
		WHERE b.rnum >= #{startCount}
		]]>
	</select>
	
	<select id="selectArticle" parameterType="int" resultType="ResponseArticleDto">
		SELECT
			board_table.id,
			board_table.title,
			board_table.content,
			count(board_reply_table.id) AS replyCount,
			board_table.regdate
		FROM
			board_table LEFT JOIN board_reply_table ON board_table.id = board_reply_table.article_id
		GROUP BY board_table.id, board_table.title, board_table.content, board_table.regdate
	</select>
	
	<insert id="insertArticle" parameterType="Article">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select 
				board_seq.nextval 
			from 
				DUAL
		</selectKey>
		INSERT INTO
			board_table
		VALUES(
			#{id},
			#{title},
			#{content},
			#{regdate}
		)
	</insert>
	
	<update id="updateArticle" parameterType="Article">
		UPDATE 
			board_table
		SET	
			title = #{title},
			content = #{content}
		WHERE
			id = #{id}
	</update>
	
	<delete id="deleteArticle" parameterType="Article">
		DELETE
		FROM
			board_table
		WHERE
			id = #{id}
	</delete>
	
</mapper>